.regula-jumbotron {
    background: #d4e4ef; /* Old browsers */
    background: -moz-linear-gradient(top, #d4e4ef 0%, #86aecc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4e4ef), color-stop(100%,#86aecc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
}

.regula-panel-primary {
    border-color: #a7c7dc;
    padding: 10px;
}

.regula-panel-primary > .panel-heading {
    background: #a7c7dc; /* Old browsers */
    background: -moz-linear-gradient(top, #a7c7dc 0%, #85b2d3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7c7dc), color-stop(100%,#85b2d3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a7c7dc 0%,#85b2d3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a7c7dc 0%,#85b2d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7c7dc', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */
}

div#toc {
    overflow-y: scroll;
}

.documentation {
    overflow-y: scroll;
}

.documentation-element {
    padding: 10px;
    text-align: justify;
}

li.no-list-style {
    list-style-type: none
}

li.toc-item {
    font-weight: bold;
    cursor: pointer;
}

ol.toc {
    font-size: medium;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-left: 10px;
}

ol.toc ol.toc {
    font-size: small;
    margin-left: 20px;
}

ol.toc { counter-reset: item }
li.toc-item { display: block }
li.toc-item:before { content: counters(item, ".") ". "; counter-increment: item }
